/* roboto-300italic - latin */
@font-face {
  font-display: swap; 
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/roboto-v32-latin-300italic.woff2') format('woff2');
}

/* roboto-regular - latin */
@font-face {
  font-display: swap; 
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v32-latin-regular.woff2') format('woff2');
}

/* roboto-900 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/roboto-v32-latin-900.woff2') format('woff2');
}

:root {
  /* colors */
  --color-dark-background: hsl(215, 28%, 17%);
  --color-quote-background: hsl(220, 13%, 91%);
  --color-img-background: hsl(216, 29%, 10%);
  --color-enroll-background: hsl(217, 91%, 59%);

  --color-hero-primary-text: hsl(90, 17%, 98%);
  --color-hero-secondary-text: hsl(220, 13%, 91%);
  --color-hero-logo-text: hsl(90, 17%, 98%);
  --color-info-header-text: hsl(215, 28%, 17%);
  --color-info-paragraph-text: hsl(214, 4%, 31%);
  --color-quote-text: hsl(215, 28%, 17%);
  --color-enroll-header-text: hsl(90, 17%, 98%);
  --color-enroll-text: hsl(220, 13%, 91%);
  --color-footer-text: hsl(220, 13%, 91%);
  --color-link-hover: hsl(90, 17%, 98%);

  --color-button: hsl(217, 91%, 59%);
  --color-button-hover: hsl(217, 91%, 50%);

  --color-border: hsl(217, 91%, 59%);

  /* typography */
  --font-primary: 'Roboto', sans-serif;
  
  --font-thin: 300;
  --font-thin-style: italic;
  --font-regular: 400;
  --font-bold: 900;

  --text-sm: 1rem;
  --text-md: 1.125rem;
  --texl-lg: 1.5rem;
  --text-xl: 2.25rem;
  --text-xxl: 3rem;

  /* spacing */
  --spacing-xxs: 0.4rem;
  --spacing-xs: 0.6rem;
  --spacing-sm: 0.8rem;
  --spacing-md: 1.12rem;
  --spacing-lg: 2rem;
  --spacing-xl: 3rem;
  --spacing-xxl: 7rem;
 
}

*::before,
*::after,
* {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0px solid transparent;
}

body {
  min-height: 100vh;
  line-height: 1;
  text-rendering: optimizeSpeed;
  font-family: var(--font-primary);
  font-size: var(--text-md);
}

header {
  background-color: var(--color-dark-background);
}

nav {
  max-width: 1020px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: var(--spacing-md);
}

.nav__logo  {
  color: var(--color-hero-logo-text);
  text-decoration: none;
  font-size: var(--texl-lg);
  font-weight: var(--font-bold);
}

.nav__link-container {
  display: flex;
  align-items: center;
  gap: var(--spacing-xl);
}

.nav__list {
  list-style-type: none;
}

.nav__link {
  color: var(--color-hero-secondary-text);
  text-decoration: none;
  transition: color 200ms;
}

.nav__link:hover {
  color: var(--color-link-hover)
}

.hero {
  max-width: 1020px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-xl);
  padding-block: var(--spacing-xxl);
}

.hero__header {
  color: var(--color-hero-primary-text);
  font-size: var(--text-xxl);
  font-weight: var(--font-bold);
  line-height: 1.2;
  margin-bottom: var(--spacing-sm);
}

.hero__description {
  color: var(--color-hero-secondary-text);
  font-size: var(--text-md);
  font-weight: var(--font-regular);
  line-height: 1.3;
  margin-bottom: var(--spacing-md);
}

.hero__enroll {
  font: inherit;
  font-size: var(--text-sm);
  font-weight: var(--font-bold);
  color: var(--color-hero-logo-text);
  padding: var(--spacing-xs) var(--spacing-lg);
  border-radius: 5px;
  background-color: var(--color-button);
  transition: background-color 200ms;
}

.hero__enroll:hover {
  cursor: pointer;
  background-color: var(--color-button-hover);
}

.hero__img-container {
  min-width: 480px;
  min-height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-img-background);
}

.hero__img {
  width: 150px;
  height: auto;
}

.features {
  padding-block: var(--spacing-xxl);
  background-color: white;
}

.features__container {
  max-width: 1020px;
  margin-inline: auto;
  display: grid;
  place-content: center;
  gap: var(--spacing-xl);
}

.features__header {
  color: var(--color-info-header-text);
  font-size: var(--text-xl);
  font-weight: var(--font-bold);
  text-align: center;
}

.features__card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-xl);
}

.features__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-sm);
}

.features__card-image-container {
  padding: var(--spacing-md);
  border: 3px solid var(--color-border);
  border-radius: 12px;
}

.features__card-image {
  max-width: 120px;
  height: auto;
}

.features__card-description {
  color: var(--color-info-paragraph-text);
  font-size: var(--text-md);
}

.testimonial {
  padding-block: var(--spacing-xxl);
  padding-inline: calc(var(--spacing-xxl) + 10rem);
  background-color: var(--color-quote-background);
}

.testimonial__container {
  max-width: 1020px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing-sm);
}

.testimonial__testimoni-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial__testimoni {
  color: var(--color-quote-text);
  font-size: var(--text-xl);
  font-weight: var(--font-thin);
  font-style: var(--font-thin-style);
  line-height: 1.3;
}

.testimonial__person {
  color: var(--color-quote-text);
  font-size: var(--text-lg);
  font-weight: var(--font-bold);
  text-align: right;
}

.enroll {
  padding-block: var(--spacing-xxl);
  padding-inline: calc(var(--spacing-xxl) + 4rem);
  background-color: white;
}

.enroll__container {
  max-width: 1020px;
  margin-inline: auto;
}

.enroll__banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-md);
  padding-block: var(--spacing-xl);
  padding-inline: var(--spacing-xxl);
  border-radius: 8px;
  background-color: var(--color-enroll-background);
}

.enroll__header {
  color: var(--color-enroll-header-text);
  font-size: var(--text-lg);
  font-weight: var(--font-bold);
  margin-bottom: var(--spacing-xxs);
}

.enroll__description {
  color: var(--color-enroll-text);
  font-size: var(--text-md);
  line-height: 1.3;
}

.enroll__button {
  font: inherit;
  font-size: var(--text-md);
  font-weight: var(--font-bold);
  color: var(--color-enroll-header-text);
  padding-block: var(--spacing-xxs);
  padding-inline: var(--spacing-lg);
  border: 2px solid var(--color-enroll-header-text);
  border-radius: 8px;
  background-color: transparent;
  transition: background-color 200ms;
}

.enroll__button:hover {
  cursor: pointer;
  background-color: var(--color-button-hover);
}

footer {
  padding: var(--spacing-lg);
  background-color: var(--color-dark-background);
}

.footer__container {
  max-width: 1020px;
  margin-inline: auto;
  display: grid;
  place-content: center;
}

.footer__text {
  color: var(--color-footer-text);
  font-size: var(--text-md);
}